.logotipo{
    background-image:url(Img/logogoogle.png);    
}
.div-central{
  -webkit-box-shadow:0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
  display: block;
  margin:70px auto;
  min-height: 500px;
  width: 450px;
  background:#fff;
  position: relative;
  z-index:2;
}
.div-c1{
  padding: 48px 40px 36px;
}
.div-c2{
  padding-left: 40px;
  padding-right: 40px;
  margin: auto -40px;
}
.div-c3{
  font-size: .1px;
  white-space: nowrap;
  margin: auto -40px;
}
.div-c4{
  align-items: flex-start;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row-reverse;
    flex-direction: row-reverse;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    margin-top: 32px;
    min-height: 48px;
    padding-bottom: 20px;
    height: 62px;
}

.logo{
  height: 37px;
  overflow: visible;
  position: relative;
  width: 198px;
  background-image: url(../img/logoGoogle.JPG);
  background-size: auto 25px;
  background-repeat: no-repeat;
}
.banner h1{
  padding-bottom: 0;
  padding-top: 16px;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.3333;
  margin-bottom: 0;
  margin-top: 0;
}
.banner p{
    padding-bottom: 3px;
    padding-top: 1px;
    margin-bottom: 0;
    margin-top: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4286;
    font-family: sans-serif;
}
.div-formulario{
  display: inline-block;
  font-size: 14px;
  padding: 24px 0 0;
  vertical-align: top;
  white-space: normal;
  width: 100%;
  border: 0 solid transparent;
  border-width: 0 40px;
}
.div-formulario input{
  font-size: 13px;
}
.div-f{
  display: inline-block;
  outline: none;
  padding-bottom: 4px;
  box-sizing: content-box;
  width: 100%; 
  height: 76px; 
}
.div-f1{
  height: 64px;
  position: relative;
  vertical-align: top;
  padding-top: 24px;
}
.div-f2{
  position: relative;
  top: 14px;
}
.div-f3{
  direction: ltr;
  text-align: left;
  -webkit-box-flex: 1;
  box-flex: 1;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  -webkit-flex-shrink: 1;
  flex-shrink: 1;
  background-color: transparent;
  border: none;
  display: block;
  font: 400 16px Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
  height: 24px;
  line-height: 24px;
  min-width: 0%;
  outline: none;
  padding: 0;
  z-index: 0;
  width: 370px;
  margin: 0 0 0 0;
}

.texto{
  font-size: 14px;
  color: #757575;
  font: 400 16px Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
  position: absolute;
  bottom: 3px;
  left: 0;
  width: 100%;
}
.barra-input{
  background-color: rgba(0,0,0,0.12);
  bottom: -2px;
  height: 1px;
  left: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%;
}
/*.password{
    padding-bottom: 3px;
    padding-top: 9px;
    font-weight: 400;
    line-height: inherit;
    min-width: 0;
    text-transform: none;
    vertical-align: top;
    font-weight: 450;
}*/
a:hover{
  color: #4285f4;
}
.btn-primary{
  -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
  text-align: center;
  text-transform: uppercase;
  font-weight: 550;
  font-size: 14px;
}
body{
  font-family: roboto,arial,sans-serif;
}
.btn-primary:hover{
   box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3 rgba(0,0,0,0.2);
   background-color: #007bff;
   border-color: #007bff;
}
#texto-input{
  -webkit-transform-origin: bottom left;
  transform-origin: bottom left;
  -webkit-transition: all .3s cubic-bezier(0.4,0,0.2,1);
  transition: all .3s cubic-bezier(0.4,0,0.2,1);
  -webkit-transition-property: color,bottom,transform;
  transition-property: color,bottom,transform;
  color: rgba(0,0,0,0.38);
  font: 400 16px Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
  font-size: 16px;
  pointer-events: none;
  position: absolute;
  bottom: 3px;
  left: 0;
  width: 100%;
  font-size: 14px;
  color: #757575;
}
.btn-primary:focus, .btn-primary.focus{
  box-shadow: none;
}

.imgRecuperacionEmail{
     height: 25vh;
    min-height: 110px;
    position: relative;
    -webkit-transform: translate(-43%,-3%);
    transform: translate(-43%,-3%);
    -webkit-transform: translate(-18%,-3%);
    transform: translate(-18%,-3%);
    z-index: 3;
}

#obtenerCodigo h2{
    font-size: 14px;
    font-weight: 550;
    line-height: 20px;
    margin-bottom: 0;
    padding-bottom: 3px;
    padding-top: 1px;
    margin-bottom: 0;
    margin-top: 0;
}

.fechaCreacion{
  -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    padding: 0 8px;
    vertical-align: top;
    width: 185px; 
}
.mesAnio{
  background: transparent;
    bottom: 5px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    left: 0;
    padding-right: 20px;
    pointer-events: none;
    -webkit-transform-origin: left bottom;
    transform-origin: left bottom;
    width: 100%;
     position: absolute;
}
.optionMesAnio{
  padding: 0;
  position: relative;
  top: 14px;
}

.optionMesAnio2{
    background: none;
    border: none;
    color: #000;
    font: inherit;
    height: 24px;
    line-height: 24px;
    outline: none;
    padding: 0;
    resize: none;
    width: 100%;
}
#mensajeError{
  color: red;
  font-size: 10px;
}